* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
}

#container {
    display: flex;
    height: 100%;
    background-color:black;
    align-items:center;
    flex-direction: column;
}
header{
border-bottom: 1px solid grey;
}
.title {
    color: gainsboro;
    font-size: 50px;
    font-weight: bold;
    margin: 6px 0 6px 0;
    text-align: center;
}
.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.square {
    border: 2px solid white;
    min-width: 50px;
    min-height: 50px;
    font-size: 32px;
    font-weight: bold;
    color: white;
    display: flex;
    text-align: center;
}
#keyboard-container {
    height: 200px;
}
.keyboard-row {
    display:flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}
.keyboard-row button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border:0;
    padding:0;
    height:50px;
    cursor: pointer;
    background-color: gainsboro;
    color:orange;
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;

}
.disable-click {
    pointer-events: none;
}
.reset-button {
    font-size: 32px; 
    width: 250px;
    height: 50px;
}
#results {
    font-size: 32px;
    color: white;
}